<div class="card ">
  <div class="row g-0">
    <div class="col-md-4 d-flex p-0">
      <img src="//localhost:8080/public/images/salleDeSport/{{gyms.imageVitrine}}" class="rounded img-fluid" alt="...">
    </div >
    <div class="col-md-8 ">
      <div class="card-body">
        <div class="row">
          <h5 class="card-title text-center col-10">{{gyms.nomSalle}} </h5>
          <span class="col-2 p-3 text-right">{{gyms.prix}} DT/mois</span>
        </div>
        <p class="card-text text-left">{{gyms.description}}</p>
        <div class="row">
          <p class="card-text text-left col-6"><small class="text-muted "> <i class="fa fa-home"> </i> {{gyms.rue}},{{gyms.codePostal}},{{gyms.ville}}</small></p>
          <span class="col-6 p-3 text-right " ><i class="fa fa-phone"></i>{{gyms.numTel}}</span>

        </div>
        <!--        <div class="row d-flex justify-content-end">-->
        <!--          <ngx-qrcode-->
        <!--            [width]="70"-->
        <!--            [margin]="1"-->
        <!--            [elementType]="elementType"-->
        <!--            [value]="gyms.url"-->
        <!--            cssClass="aclass ">-->
        <!--          </ngx-qrcode>-->
        <!--        </div>-->

      </div>

    </div>
    <div class="col-md-8 d-flex">

    </div>
  </div>
</div>
