

<div  class="p-3">

<div class="row clearfix m-0">
  <div class="col-md-12">
    <div class="card social">
      <div class="profile-header d-flex justify-content-between justify-content-center">
        <div class="d-flex">
          <div class="mr-3">
            <img src="http://localhost:8080/public/images/imageUser/{{user.image_name}}" class="rounded" alt="">
          </div>
          <div class="details">
            <h5 class="mb-0">{{user.nom}} {{user.prenom}}</h5>
            <span class="text-light" *ngIf="user.fk_idRole==1">Administrateur</span>
            <span class="text-light" *ngIf="user.fk_idRole==2">Entrainé</span>
            <span class="text-light" *ngIf="user.fk_idRole==3">Entraineur</span>
            <span class="text-light" *ngIf="user.fk_idRole==4">Propriétaire Salle de Sport</span>
          </div>
        </div>
        <div>
          <button routerLink="/setting" class="btn btn-primary btn-sm mr-md-1"><i class="icon-settings"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-5">
    <div class="card">
      <div class="header">
        <h2>Information</h2>
        <ul class="header-dropdown dropdown">
          <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
<!--          <li class="dropdown">-->
<!--            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a href="javascript:void(0);">Action</a></li>-->
<!--              <li><a href="javascript:void(0);">Another Action</a></li>-->
<!--              <li><a href="javascript:void(0);">Something else</a></li>-->
<!--            </ul>-->
<!--          </li>-->
        </ul>
      </div>
      <div class="body">
<!--        <small class="text-muted">Adresse: </small>-->
<!--        <p>795 Folsom Ave, Suite 600 San Francisco, 94107</p>-->
<!--        <div>-->
<!--          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1923731.7533500232!2d-120.39098936853455!3d37.63767091877441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1522391841133" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>-->
<!--        </div>-->
<!--        <hr>-->
        <small class="text-muted">Adresse Email: </small>
        <p>{{user.email}}</p>
        <hr>
        <small class="text-muted">Numéro de Téléphone: </small>
        <p>{{user.phone}}</p>
        <hr>
        <small class="text-muted">Carte d'identité: </small>

        <p class="m-b-0">{{user .cin}}</p>
        <hr *ngIf="user.fk_idRole==2">

        <small class="text-muted" *ngIf="user.fk_idRole==2">Age: </small>
        <p class="m-b-0" *ngIf="user.fk_idRole==2">{{infoUser.age}}</p>
        <hr *ngIf="user.fk_idRole==2">
        <small class="text-muted" *ngIf="user.fk_idRole==2">Poids: </small>
        <p class="m-b-0" *ngIf="user.fk_idRole==2">{{infoUser.poids}} en Kg</p>
        <hr *ngIf="user.fk_idRole==2">
        <small class="text-muted" *ngIf="user.fk_idRole==2">Taille: </small>
        <p class="m-b-0" *ngIf="user.fk_idRole==2">{{infoUser.taille}} en Cm</p>
        <hr *ngIf="user.fk_idRole==2">
        <small class="text-muted" *ngIf="user.fk_idRole==2">Sexe: </small>
        <p class="m-b-0" *ngIf="user.fk_idRole==2">{{infoUser.sexe}}</p>
        <hr *ngIf="user.fk_idRole==3">
        <small class="text-muted" *ngIf="user.fk_idRole==3">Spéialité: </small>
        <p class="m-b-0" *ngIf="user.fk_idRole==3">{{infoUser.specialite}}</p>
<!--        <hr>-->
<!--        <small class="text-muted">Date de naissance: </small>-->
<!--        <p class="m-b-0">October 17th, 93</p>-->
<!--        <hr>-->
<!--        <small class="text-muted">Réseaux Sociaux: </small>-->
<!--        <p><i class="fa fa-twitter m-r-5"></i> twitter.com/example</p>-->
<!--        <p><i class="fa fa-facebook  m-r-5"></i> facebook.com/example</p>-->
<!--        <p><i class="fa fa-github m-r-5"></i> github.com/example</p>-->
<!--        <p><i class="fa fa-instagram m-r-5"></i> instagram.com/example</p>-->
      </div>
    </div>
  </div>

  <div class="col-xl-8 col-lg-8 col-md-7">
    <div class="card" id="Gallery">
      <div class="header">
        <h2>Gallery</h2>
        <ul class="header-dropdown dropdown">
          <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
          <li class="dropdown">
            <a   role="button"  data-toggle="modal" data-target=".new-project-modal-galery" aria-expanded="false"><i class="icon-plus "></i></a>
          </li>
        </ul>
      </div>
      <!--    modal image -->
      <div class="modal fade new-project-modal-galery" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelGal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter des photos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input multiple="multiple" type="file" class="dropify" (change)="selectFiles($event)">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-round btn-success" data-dismiss="modal" (click)="uploadFiles()">Confirmer</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card" >
        <div class=" alert alert-info" role="alert" *ngIf="!galery">
        Vous n'avez pas des images !! Ajouter vos souvenirs.
        </div>
      <div class="body lightGallery" *ngIf="galery">
        <lightgallery [settings]="settings" [onInit]="onInit" class=" row clearfix lightGallery">
          <a class="col-lg-3 col-md-6 m-b-30 rounded  light-link gallery-item"*ngFor="let item of galery" [attr.href]="'http://localhost:8080/public/images/GaleryUser/'+item.image"><img class="img-fluid rounded"  src="http://localhost:8080/public/images/GaleryUser/{{item.image}}" alt=""/></a>
        </lightgallery>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

