<!--<div class="page-loader-wrapper">-->
<!--  <div class="loader">-->
<!--    <div class="bar1"></div>-->
<!--    <div class="bar2"></div>-->
<!--    <div class="bar3"></div>-->
<!--    <div class="bar4"></div>-->
<!--    <div class="bar5"></div>-->
<!--  </div>-->
<!--</div>-->

<div class="pattern">
<!--  <span class="red"></span>-->
<!--  <span class="indigo"></span>-->
<!--  <span class="blue"></span>-->
  <span class="green"></span>
<!--  <span class="orange"></span>-->
</div>

<div class="auth-main particles_js">
  <div class="auth_div vivify popIn">
    <div class="auth_brand">
      <a class="navbar-brand" href="javascript:void(0);"><img src="../assets/images/SupportiniBrand.svg" width="50%" height="50%" class="d-inline-block align-top " alt=""></a>
    </div>
    <div class="card">
      <div class="body">
        <p class="lead">Connexion </p>
        <p class="text-center">Bienvenue à Supportini, accéder à votre espace </p>
        <form class="form-auth-small m-t-20" action="../../../../index.html">
          <div class="form-group">
            <label for="signin-email" class="control-label sr-only">Email</label>
            <input type="email" class="form-control round" id="signin-email" name="email"  [(ngModel)]="user.email" placeholder="Adresse Email">
          </div>
          <div class="form-group">
            <label for="signin-password" class="control-label sr-only">Password</label>
            <input type="password" class="form-control round" id="signin-password" name="password" [(ngModel)]="user.password" placeholder="Mot de Passe">
          </div>
          <div class="form-group clearfix">
            <label class="fancy-checkbox element-left">
              <input type="checkbox" name="rememberMe">
              <span>Se Souvenir de moi</span>
            </label>
          </div>
          <button type="submit" class="btn btn-general btn-round btn-block" (click)="login()">Se Connecter</button>
          <div class="bottom">
            <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a [routerLink]="'/forget_pwd'">Mot de Passe oublier?</a></span>
            <span>Vous-etes nouveau dans notre plateforme? <a [routerLink]="'/register'">S'inscrire</a></span><br>

          </div>
          <div class="text-left">
            <span > <a [routerLink]="'/acceuil'">Retour</a></span>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div id="particles-js"></div>
</div>
