
<footer id="footer" class="text-center text-white " >
  <!-- Grid container -->
  <div class="footer-containt container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a

        class="btn btn-link btn-floating btn-lg text-color m-1"

        href="#!"
        role="button"
      ><i class="fa fa-facebook"></i></a>

      <!-- Twitter -->
      <a

        class="btn btn-link btn-floating btn-lg text-color m-1"
        href="#!"
        role="button"
      ><i class="fa fa-twitter"></i
      ></a>

      <!-- Google -->
      <a

        class="btn btn-link btn-floating btn-lg text-color m-1"
        href="#!"
        role="button"
      ><i class="fa fa-google"></i
      ></a>

      <!-- Instagram -->
      <a

        class="btn btn-link btn-floating btn-lg text-color m-1"
        href="#!"
        role="button"
      ><i class="fa fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a

        class="btn btn-link btn-floating btn-lg text-color m-1"
        href="#!"
        role="button"
      ><i class="fa fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a

        class="btn btn-link btn-floating btn-lg text-color m-1"
        href="#!"
        role="button"
      ><i class="fa fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-color p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-color" href="https://mdbootstrap.com/">Supportini</a>
  </div>
  <!-- Copyright -->
</footer>
