<table class=" col-6 flex table table-hover table-custom spacing5">
  <tbody>
  <tr>
    <td class="w60">
      <img src="http://localhost:8080/public/images/imageUser/{{user.image_name}}" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="w35 rounded" data-original-title="Avatar Name">
    </td>
    <td>
      <a href="javascript:void(0);" title="">{{user.nom}} {{user.prenom}}</a>

    </td>
    <td>
      <p class="mb-0">+ 216-{{user.phone}}</p>
    </td>
    <td>
      <span>{{user.email}}</span>
    </td>

  </tr>

  </tbody>
</table>
