<div class="row clearfix ">


  <div class="col-4 ">
    <div class="card">
      <div class="body">
        <div class="d-flex align-items-center">
          <div class="icon-in-bg bg-indigo text-white rounded-circle"><i class="fa fa-leaf" aria-hidden="true"></i>
          </div>
          <div class="ml-4">
            <span>Titre</span>
            <h4 class="mb-0 font-weight-medium">{{regime.nom}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-4 ">
    <div class="card">
      <div class="body">
        <div class="d-flex align-items-center">
          <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-solid fa-weight-scale"></i>
            </div>
          <div class="ml-4">
            <span>vouz allez perdre</span>
            <h4 class="mb-0 font-weight-medium">{{regime.nbrkg}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-4 ">
    <div class="card">
      <div class="body">
        <div class="d-flex align-items-center">
          <div class="icon-in-bg bg-pink text-white rounded-circle"><i class="fa fa-lemon-o" aria-hidden="true"></i></div>
          <div class="ml-4">
            <span>c'est un regime pour les </span>
            <h4 class="mb-0 font-weight-medium">{{regime.type}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>



<div class="row clearfix">


  <div class="col-4 regime">
    <div class="card">
      <div class="body">
        <div class="d-flex align-items-center">
          <div class=" text-white rounded-circle"></div>
          <div class="ml-4">
            <span>le petit deg</span>
            <h6 class="mb-0 font-weight-normal"> {{regime.petidej}} </h6>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-4  regime">
    <div class="card">
      <div class="body">
        <div class="d-flex align-items-center">
          <div class=" text-white rounded-circle"></div>
          <div class="ml-4">
            <span>le dej</span>
            <h6 class="mb-0 font-weight-normal"> {{regime.dejeuner}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-4 regime">
    <div class="card">
      <div class="body">
        <div class="d-flex align-items-center">
          <div class=" text-white rounded-circle"></div>
          <div class="ml-4">
            <span>le dinner </span>
            <h6 class="mb-0 font-weight-normal"> {{regime.dinner}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
